<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title>
            {{title}} <span *ngIf="muestraModelo">- Modelo: {{datosSensor.model}}</span><span *ngIf="muestraHora">- {{datosSensor.fecha|date:'dd/MM/yyyy HH:m:ss'}}</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
            </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">        
        <div> 
            <span [ngStyle]="{'color':colorTemp}">Temperatura: {{datosSensor.temperature_C|number:'.2'}} ºC</span> |
            <span>Presión Atm: {{datosSensor.pressure_hPa|number:'.4'}} hPa</span>
        </div>
        <div *ngIf="!soloDatosGenerales">
            <span>Punto de rocio: {{datosSensor.dewPoint_C|number:'.2'}} ºC</span> |
            <span>Temperatura de bochorno: {{datosSensor.heatIndex|number:'.2'}} ºC</span>
        </div>
    </mat-card-content>
</mat-card>
